<div class="toolbar" >
    <img height="60px" style="padding-left: 2%;" src="assets\gadgeon-logo.png"/>
    <a routerLink="home" style="padding-top: 40px;padding-left: 15%;"><button style="background-color: rgba(240, 248, 255, 0.5);border:none;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;border-radius: 5px;">Home</button></a>
    <a routerLink="about" style="padding-top: 40px;padding-left: 5%;"><button style="background-color: rgba(240, 248, 255, 0.5);border:none;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;border-radius: 5px;">About</button></a>
    <a routerLink="contact" style="padding-top: 40px;padding-left: 5%;"><button style="background-color: rgba(240, 248, 255, 0.5);border:none;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;border-radius: 5px;">Contact</button></a>
    <a routerLink="services" style="padding-top: 40px;padding-left: 5%;"><button style="background-color: rgba(240, 248, 255, .5);border:none;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;border-radius: 5px;">Services</button></a>
  
  </div>
  <router-outlet></router-outlet>
<!-- <app-home></app-home>
<app-contact></app-contact>
<app-services></app-services>
<app-about></app-about> -->