<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <div class="container">
    <div class="kore">
        <img src="assets\KORE_Wireless_company_logo.svg.png" style="height: 80px;" alt="">
    </div>
    <div class="pic">
        <img src="assets\download.jfif" style="border-radius: 50%;width: 300px;height: 300px;">
    </div>
    <div class="fo">Agile</div>
    <div class="ty" >-----------------------------------------Combining the capacity of large global providers with the velocity of a tight team, we get more of the right thing done faster.</div>
  </div>
  <div class="container" >
      <div class="kore">
          <img src="assets\KORE_Wireless_company_logo.svg.png" style="height: 80px;margin-left: 5px;" alt="">
      </div>
      <div class="pic">
          <img src="assets\workforce.jpg" style="height: 300px;border-radius: 50%;" srcset="">
      </div>
      <div class="fo">Simplify IoT</div>
      <div class="ty" >---------------------------------------------------Combining the capacity of large global providers with the velocity of a tight team, we get more of the right thing done faster.</div>
  </div>
  <div class="container">
    <div class="kore">
        <img src="assets\KORE_Wireless_company_logo.svg.png" style="height: 80px;margin-left: 5px;" alt="">
    </div>
    <div class="pic">
        <img src="assets\deal.jfif" style="border-radius: 50%;width: 300px;height: 300px;">
    </div>
    <div class="fo">Innovative</div>

    <div class="ty" >-------------------------------------------------Combining the capacity of large global providers with the velocity of a tight team, we get more of the right thing done faster.</div>
</div>
</html>